<div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cloud</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original-wordmark.svg" height="75" width="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg" height="75" width="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" height="75" width="75" />
      <p>We design, analyze and implement cloud government systems. We help define cloud adoption strategies according to customer needs.</p>
    </div>
    <div class="tech">
      <h2>DevOps</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg" height="75" width="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original-wordmark.svg" height="75" width="75" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ansible/ansible-original-wordmark.svg" height="75" width="75" />
      <p>We design and implement the necessary ecosystem to establish a continuous integration methodology, based on open-source tools.</p>
    </div>
  </div>